{% extends 'miapp/base.html' %}
{% load static %}

{% block title %}Editar Perfil de Empleado{% endblock %}

{% block content %}
  <main role="main">
    <div class="about_section layout_padding">
      <div class="container">
        <h2 class="choose_title">Editar Perfil de Empleado: {{ perfil.usuario.username }}</h2>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

      </div>
    </div>
  </main>
{% endblock %}
