{% extends 'miapp/base.html' %}
{% load static %}

{% block title %}
  {{ titulo }}
{% endblock title %}

{% block content %} 
  <main>
    <div class="about_section layout_padding">
      <div class="container">
        <h1 class="choose_taital"><span>Lista de </span> <img src="{% static 'miapp/images/icon-1.png' %}"> <span style="color: #1f1f1f">
          Servicios</span></h1>
        {% if tiposervicio_list %}
            <div>
            {% for servicio in tiposervicio_list %}
                <div>
                  <h5>{{ servicio.nombreServicio }}</h5>
                  <div>
                    <div>
                      {% if servicio.imagen %}
                        <img class=""  width="164" height="96" src="{{servicio.imagen.url}}" alt="{{servicio.imagen.url}}"/>
                      {% else %}
                        <img class="r"  width="164" height="96" src="{% static 'miapp/images/img-5.png' %}">
                      {% endif  %}                         
                        <div><span>{{servicio.descripcion|safe}}</span></div>
                    </div>
                  </div>           
                </div>
                <br>
            {% endfor %}
        </div>
        {% else %}
        <div>
            <img src="{% static 'miapp/images/img-5.png' %}" >
            <div>
              <h5 >Servicio</h5>
              <p>Sin sevicios ingresadas en la Base de Datos del sitio, por favor regrese en breve estaremos cargando nuestro stock</p>
              <a href="{% url 'home' %}" >Inicio</a>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </main>

{% endblock content%}